h1 {
  font-size: 32px;
  font-family: 'Exo 2', sans-serif;
}

h2 {
  font-size: 25px;
  font-family: 'Exo 2', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

header {
  padding: 20px 0px 20px 40px;
  width: 100vw;
  background-color: #ffc9c3;
  display: flex;
  flex: 1;
  justify-content: center;
}

header img {
  width: 196.75px;
  height: 61.5px;
  display: flex;
  align-content: center;
}

header h1 {
  font-size: 42px;
  font-family: 'Exo 2', sans-serif;
  padding-left: 50px;
  align-self: center;
  color: #196371;
}

header nav {
  width: 400px;
  display: flex;
}

header nav ul{
  display: flex;
  justify-content:flex-end;
  width: 100%;
}

header nav ul li {
  display: flex;
  align-content: center;
}

header nav a {
  color: #75A922;
  font-weight: bold;
  display: flex; 
  align-items: center;
  font-size: 25px;
}

header nav a:hover {
  color: #95C842;
}

main {
  padding: 5px 0px 5px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
}

table {
  width: 960px;
}

td {
  padding: 5px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

th {
  padding: 5px;
  font-weight: bolder;
  font-family: 'Exo 2', sans-serif;
  text-align: left;
}